@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    
}

#des-cont {
    padding:10px; 
    display:flex; 
    justify-content:center;
} 

#des-cont button {
    background-color: #ED8C5E;
    border-color: #ED8C5E;
    border-radius: 5px;
    width: 250px;
    font-size: 1.6rem;
    font-family: 'EB Garamond', serif;
}

.description {
    padding:10px; 
    font-family: 'EB Garamond', serif;
}

.acc-naslov {
    padding: 10px;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-family: 'EB Garamond', serif;
}