body {
    font-family: "Lato", sans-serif;
}
.main-head{
    height: 150px;
    background: #FFF;
}
.sidenav {
    height: 100%;
    background: linear-gradient(#E77C49, #F8C301);
    overflow-x: hidden;
    padding-top: 20px;
}
.main {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 0;
    }

    .register-form{
        margin-top: 20%;
    }
}
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}
.login-main-text h2{
    font-weight: 300;
}
.btn{
    background-color: #E77C49 !important;
    color: #fff;
} 
.form-group {
    margin-top: 10px;
    margin-bottom: 10px
}
.login-form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#admin, #user{
    margin-top: 5px;
    margin-bottom: 10px;
}